/* * {
  border: 1px solid #f00 !important;
} */
body {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1 {
  font-size: 2rem;
  letter-spacing: 0.06rem;
  color: hsla(98, 96%, 18%, 0.836);
  
 
  text-shadow:
    1px 0px 1px rgba(160,160,170,.5),   0px 1px 1px rgba(230,230,240,.5), 
    2px 1px 1px rgba(159,159,169,.6),   1px 2px 1px rgba(229,229,239,.6),
    3px 2px 1px rgba(158,158,168,.7),   2px 3px 1px rgba(228,228,238,.7),
    4px 3px 1px rgba(157,157,167,.8),   3px 4px 1px rgba(227,227,237,.8),
    12px 12px 20px rgba(23, 26, 25, 0.2);
}

h2, h3, h4 {
    color: #225a02d5;
    padding-top: 0.5rem;
    
}

.product-container {
   background: linear-gradient(#9cedfa, #cef5fa);
   border-radius: 15px;
   box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
   margin: 2% 0;
   padding: 1% 0;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}


.card img {
  height: 120px;
  width: 185px;
  border-radius: 5px;
  border: 2px solid #258825;
}



.card {
  width: 220px;
  height: 300px;
  margin: 0.8% 0.8%;
  background-color: #74fd24;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px rgba(73, 128, 51, 0.9);
  box-shadow: inset 0 0 15px 0.2px rgba(32, 83, 49, 0.85);
  transition: all 180ms ease-in-out;
  
}
.card:hover {
	top: -2px;
	left: -2px;
  box-shadow: 3px 3px 15px 0px rgba(118, 159, 197, 0.85),
  inset 0 0 15px 0.6px rgba(32, 83, 49, 0.85);
}
.card:active {
	top: 2px;
	left: 2px;
	background-color: #a6f8b1;
	box-shadow: inset 0 0 10px rgba(156, 154, 154, 0.85);
}

button {
  width: 25%;
  height: auto;
  line-height: 2rem;
  margin-bottom: 5%;
  font-size: 1rem;
  background-color: #eeff00;
  color: #1e5353;
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
  border: 1px solid #eeff00;
  align-self: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
  background: linear-gradient(#35D6ED, #cef5fa);
  border-radius: 15px;
  padding-top: 0.2%;
  margin-top: 1%;
}

.navbar a {
  font-size: 1.3rem;
  color: hsla(98, 96%, 18%, 0.836);
  margin-bottom: 0.5%;
}

a {
  text-decoration: none;
}

.navbar img {
  width: 120px;
  height: auto;
  border-radius: 150px;
}

.farm img {
  width: 150px;
  height: auto;
  margin: 0;
}


.small-farm img {
  width: 25%;
  height: auto;
}

.singleCard {
  width: 30%;
  margin: 0 auto;
  background-color: #74fd24;
  border-radius: 10px;
  box-shadow: 3px 3px 15px 0px rgba(221, 221, 221, 0.85),
  inset 0 0 10px 1px rgba(64, 143, 33, 0.9),
  inset 0 0 15px 1px rgba(86, 206, 39, 0.9),
   inset 0 0 20px 1px rgba(109, 182, 80, 0.9);
  padding: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  
}

.singleCard img {
  width: 70%;
  height: auto;
  border-radius: 5px;
  border: 2px solid #258825;
}

.singleCard button {
  width: 40%;
  border-radius: 5px;
  cursor: pointer;
}

/* <a href='https://pngtree.com/so/agriculture'>agriculture png from pngtree.com</a> */

/* <a href='https://pngtree.com/so/background'>background png from pngtree.com</a> */

/* <a href='https://pngtree.com/so/natural'>natural png from pngtree.com</a> */


/* Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> */

.testCircle{
   width: 50px; 
   height: 50px;
   border-radius: 900px;
   background-color:rgb(125, 163, 54);
   margin: 0 auto;
   box-shadow: 1px 1px 5px 0px rgba(53, 80, 66, 0.75);
   padding: 10%;
}

.shopping-cart {
  width: 80%;
margin: 0 auto;
}
.shopping-cart-item button {
  width: 50%;
}
.shopping-cart-item  img {
  width: 45%;
  height: auto;
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
}
.shopping-cart-item {
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
  width:40%;
  margin: 0 auto;
}

.shopping-cart-checkout p {
  font-size: 2rem;
}

.shopping-cart-icon img {
  width: 2rem;
  padding: 0.8rem;
  background-color: rgb(29, 235, 29);
  box-shadow: inset 0 0 15px 2px rgba(64, 143, 33, 0.9);
}

.shopping-cart-icon img:hover {
  box-shadow: inset 1px 3px 5px 2px rgba(80, 190, 36, 0.9),
  inset 0 0 15px 1px rgba(119, 216, 81, 0.541)
  

}
