/* * {
  border: 1px solid #f00 !important;
} */
body {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 2em;
  letter-spacing: 0.06em;
  color: hsla(98, 96%, 18%, 0.836);
  
 
  text-shadow:
    1px 0px 1px rgba(160,160,170,.5),   0px 1px 1px rgba(230,230,240,.5), 
    2px 1px 1px rgba(159,159,169,.6),   1px 2px 1px rgba(229,229,239,.6),
    3px 2px 1px rgba(158,158,168,.7),   2px 3px 1px rgba(228,228,238,.7),
    4px 3px 1px rgba(157,157,167,.8),   3px 4px 1px rgba(227,227,237,.8),
    12px 12px 20px rgba(23, 26, 25, 0.2);
}

h2, h3, h4 {
    color: #225a02d5;
    padding-top: 0.5em;
    
}

.product-container {
   background: linear-gradient(#9cedfa, #cef5fa);
   border-radius: 15px;
   box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
   margin: 2% 0;
   padding: 1% 0;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}


.card img {
  height: 120px;
  width: 185px;
  border-radius: 5px;
  border: 2px solid #258825;
}



.card {
  width: 220px;
  height: 260px;
  margin: 0.8% 0.8%;
  background-color: #74fd24;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 1px rgba(73, 128, 51, 0.9);
  box-shadow: inset 0.1px 0.1px 15px 0.5px rgba(85, 141, 62, 0.9);
  transition: all 180ms ease-in-out;
  
}
.card:hover {
	top: -2px;
	left: -2px;
  box-shadow: 3px 3px 15px 0px rgba(161, 158, 158, 0.85),
  inset 0 0 15px 0.6px rgba(32, 83, 49, 0.85);
}
.card:active {
	top: 2px;
	left: 2px;
	background-color: #a6f8b1;
	box-shadow: inset 0 0 10px rgba(156, 154, 154, 0.85);
}

button {
  width: 25%;
  height: auto;
  line-height: 2em;
  margin-bottom: 5%;
  font-size: 1em;
  background-color: #eeff00;
  color: #1e5353;
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
  border: 1px solid #eeff00;
  align-self: center;
}

.navbar {
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
  background: linear-gradient(#35D6ED, #cef5fa);
  border-radius: 15px;
  padding-top: 0.2%;
  margin-top: 1%;
}

.navbar a {
  font-size: 1.3em;
  color: hsla(98, 96%, 18%, 0.836);
  margin-left: 2%;
}

a {
  text-decoration: none;
}


.navbar img {
  width: 120px;
  height: auto;
  border-radius: 150px;
}

.farm img {
  width: 150px;
  height: auto;
  margin: 0;
}


.small-farm img {
  width: 25%;
  height: auto;
}

.carder {
  width: 30%;
  margin: 0 auto;
  background-color: #74fd24;
  border-radius: 10px;
  box-shadow: 3px 3px 15px 0px rgba(92, 91, 91, 0.85);
  box-shadow: inset 0.1px 0.1px 15px 0.5px rgba(85, 141, 62, 0.9);
  padding: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  
}

.carder img {
  width: 70%;
  height: auto;
  border-radius: 5px;
  border: 2px solid #258825;
  /* box-shadow: inset 1px 1px 5px 1px rgba(73, 128, 51, 0.9); */
}

.carder button {
  width: 40%;
  border-radius: 5px;
  cursor: pointer;
}

/* <a href='https://pngtree.com/so/agriculture'>agriculture png from pngtree.com</a> */

/* <a href='https://pngtree.com/so/background'>background png from pngtree.com</a> */

/* <a href='https://pngtree.com/so/natural'>natural png from pngtree.com</a> */


/* Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> */

.testCircle{
   width: 50px; 
   height: 50px;
   border-radius: 900px;
   background-color:rgb(125, 163, 54);
   margin: 0 auto;
   box-shadow: 1px 1px 5px 0px rgba(53, 80, 66, 0.75);
   padding: 10%;
}

.shopping-cart {
  width: 80%;
margin: 0 auto;
}
.shopping-cart-item button {
  width: 50%;
}
.shopping-cart-item  img {
  width: 45%;
  height: auto;
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
}
.shopping-cart-item {
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
  width:40%;
  margin: 0 auto;
}

.shopping-cart-checkout p {
  font-size: 2em;
}

.shopping-cart-icon img {
  width: 2em;
  margin-left: 66%;
}
/* button {
  width: 50%;
  font-size: 2em;
  background: hsla(98, 96%, 18%, 0.836);
  color: #fff;
  border: 0.15rem solid hsla(98, 96%, 18%, 0.836);
  border-radius: 15px;
  padding: 0.85em 0.75em;
  margin: 1rem;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

button:hover {
  color: hsla(98, 96%, 18%, 0.836);
}

button::after {
  content: "";
  background: #ecf0f1;
  position: absolute;
  border-radius: 15px;
  z-index: -1;
  padding: 0.85em 0.75em;
  display: block;
}

button[class^="grow"]::after {
  transition: all 5s ease;
}

button[class^="grow"]:hover::after {
  transition: all 5s ease-out;
}

button.grow_spin::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transform: scale(0, 0) rotate(-360deg);
}

button.grow_spin:hover::after {
  transform: scale(1, 1) rotate(0deg);
} */

/* .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: rgb(248, 244, 244);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(3px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover {
    color: rgb(15, 248, 73)
}

.glow-on-hover:hover:after {
    background: transparent;
}

.glow-on-hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
} */