/* * {
  border: 1px solid #f00 !important;
} */
body {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  letter-spacing: 0.09rem;
  color: hsla(98, 96%, 18%, 0.836);
  margin: 0.5%;
  text-shadow:
    1px 0px 1px rgba(160,160,170,.5),   0px 1px 1px rgba(230,230,240,.5), 
    2px 1px 1px rgba(159,159,169,.6),   1px 2px 1px rgba(229,229,239,.6),
    3px 2px 1px rgba(158,158,168,.7),   2px 3px 1px rgba(228,228,238,.7),
    4px 3px 1px rgba(157,157,167,.8),   3px 4px 1px rgba(227,227,237,.8),
    12px 12px 20px rgba(23, 26, 25, 0.2);
}

h2, h3, h4 {
    color: #225a02d5;
    padding-top: 0.5rem;
    
}

.product-container {
   background: linear-gradient(#9cedfa, #cef5fa);
   border-radius: 15px;
   box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
   margin: 2% 0;
   padding: 1% 0;
}

.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}


.card img {
  height: 120px;
  width: 185px;
  border-radius: 5px;
  border: 2px solid #258825;
}



.card {
  width: 220px;
  height: 300px;
  margin: 1%;
  background-color: #74fd24;
  cursor: pointer;
  position: relative;
  top: 0px;
  left: 0px;
  border-radius: 20px;
 box-shadow:  0 0 10px 4px rgba(82, 107, 119, 0.1),
 inset 0 1px 1px 0.7px rgba(50, 131, 73, 0.2),
 inset 0 0 10px 5px rgba(53, 155, 82, 0.3),
 inset 0 0 11px 6px rgba(53, 155, 82, 0.2),
 inset 0 2px 1px 0.5px rgba(183, 248, 201, 0.9),
 inset 0 -4px 5px 4px rgba(49, 133, 74, 0.7),
 inset 0 0 2px 2px rgba(49, 138, 75, 0.6);
  transition: all 100ms ease-in-out;
  
}
.card:hover {
	top: -2px;
	left: -2px;
  box-shadow: 0 0 18px 3px  rgba(82, 107, 119, 0.2),
  inset 0 1px 1px 0.7px rgba(50, 131, 73, 0.2),
  inset 0 0 10px 5px rgba(53, 155, 82, 0.3),
  inset 0 0 11px 6px rgba(53, 155, 82, 0.2),
  inset 0 1px 1px 0.7px rgba(183, 248, 201, 0.6),
  inset 0 -2px 5px 2px rgba(49, 133, 74, 0.6),
  inset 0 1px 2px 1px rgba(49, 138, 75, 0.6);
}
.card:active {
	top: 2px;
	left: 2px;
	background-color: #a6f8b1;
	box-shadow: inset 0 0 10px rgba(156, 154, 154, 0.85);
}

button {
  width: 25%;
  height: auto;
  line-height: 2rem;
  margin-bottom: 5%;
  font-size: 1rem;
  background-color: #eeff00;
  color: #1e5353;
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
  border: 1px solid #eeff00;
  align-self: center;
}

.navbar {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
  background: linear-gradient(#35D6ED, #cef5fa);
  border-radius: 15px;
  padding-top: 0.2%;
  margin-top: 1%;
}

.navbar a {
  font-size: 1.3rem;
  color: hsla(98, 96%, 18%, 0.836);
  margin-bottom: 0.5%;
}

a {
  text-decoration: none;
}

.login-button {
  align-self: flex-end;
  width: 100px;
  border: 2px solid rgb(115, 214, 247);
  padding: 1rem;
  border-radius: 15rem;
}

.navbar img {
  width: 120px;
  height: auto;
  border-radius: 150px;
}

.farm img {
  width: 150px;
  height: auto;
  margin: 0;
}


.small-farm img {
  width: 25%;
  height: auto;
}

.singleCard {
  width: 30%;
  margin: 0 auto;
  background-color: #74fd24;
  border-radius: 10px;
  box-shadow:  0 0 10px 4px rgba(82, 107, 119, 0.1),
 inset 0 1px 1px 0.7px rgba(50, 131, 73, 0.2),
 inset 0 0 10px 5px rgba(53, 155, 82, 0.3),
 inset 0 0 11px 6px rgba(53, 155, 82, 0.2),
 inset 0 2px 1px 0.5px rgba(183, 248, 201, 0.9),
 inset 0 -4px 5px 4px rgba(49, 133, 74, 0.7),
 inset 0 0 2px 2px rgba(49, 138, 75, 0.6);
  padding: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  
}

.singleCard img {
  width: 70%;
  height: auto;
  border-radius: 5px;
  border: 2px solid #258825;
}

.singleCard button {
  width: 40%;
  border-radius: 5px;
  cursor: pointer;
}

/* <a href='https://pngtree.com/so/agriculture'>agriculture png from pngtree.com</a> */

/* <a href='https://pngtree.com/so/background'>background png from pngtree.com</a> */

/* <a href='https://pngtree.com/so/natural'>natural png from pngtree.com</a> */


/* Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a> */

.testCircle{
   width: 50px; 
   height: 50px;
   border-radius: 900px;
   background-color:rgb(125, 163, 54);
   margin: 0 auto;
   box-shadow: 1px 1px 5px 0px rgba(53, 80, 66, 0.75);
   padding: 10%;
}

.shopping-cart {
  width: 80%;
margin: 0 auto;
}
.shopping-cart-item button {
  width: 50%;
  background-color: rgb(91, 238, 91);
}
.shopping-cart-item  img {
  width: 45%;
  height: auto;
  background-color: yellow;
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
}
.shopping-cart-item {
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
  width:40%;
  margin: 0 auto;
}

.shopping-cart-checkout p {
  font-size: 2rem;
}

.shopping-cart-icon img {
  width: 2rem;
  padding: 0.8rem;
  background: radial-gradient(circle at 40px 10px,#74fd24, #1e8a52);
  
}

.shopping-cart-icon img:hover {
  background: radial-gradient(circle at 20px 20px, #74fd24, rgb(39, 184, 109));
}


.circle {
  display: block;
  background: black;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: 0;
  background: radial-gradient(circle at 80px 30px, #74fd24, rgb(26, 73, 49));
  align-self: center;
}

.nav-container {
  align-self: center;
  position: relative;
}

#simple_arc {
       display: block;
       height: 40px;
       align-self: center;
  }
  
  #simple_arc>span[class^=w]:nth-of-type(n+0){
					 display:block;
					 
                     -moz-transform-origin:50% 100%;
					 -webkit-transform-origin:50% 100%;
					 -o-transform-origin:50% 100%;
					 -ms-transform-origin:50% 100%;
           transform-origin:50% 100%;
           }
           
           #simple_arc span{
           position: absolute;
					 font-family: 'Courier New', Courier, monospace;
					 font-size: 2.7rem;
					 font-weight:regular;
					 font-style:normal;
           line-height: 3;
					 white-space:pre;
					 overflow:visible;
           padding:0px;
           }
           
           #simple_arc .w0 {
					 -moz-transform: rotate(-1rad);
					 -webkit-transform: rotate(-1rad);
					 -o-transform: rotate(-1rad);
					 -ms-transform: rotate(-1rad);
					 transform: rotate(-1.1rad);
                     width: 21px;
					 height: 1%;
					 left: -170px;
					 top: 62px;
           }
            #simple_arc .w1 {
					 -moz-transform: rotate(-1.10rad);
					 -webkit-transform: rotate(-1.10rad);
					 -o-transform: rotate(-1.10rad);
					 -ms-transform: rotate(-1.10rad);
					 transform: rotate(-0.9rad);
                     width: 21px;
					 height: 1%;
					 left: -147px;
					 top: 26px;
           } 
           #simple_arc .w2 {
					 -moz-transform: rotate(-1.14rad);
					 -webkit-transform: rotate(-1.14rad);
					 -o-transform: rotate(-1.14rad);
					 -ms-transform: rotate(-1.14rad);
					 transform: rotate(-0.8rad);
                     width: 21px;
					 height: 1%;
					 left: -121px;
					 top: -1px;
           } 
           #simple_arc .w3 {
					 -moz-transform: rotate(-1.14rad);
					 -webkit-transform: rotate(-1.14rad);
					 -o-transform: rotate(-1.14rad);
					 -ms-transform: rotate(-1.14rad);
					 transform: rotate(-0.5rad);
                     width: 21px;
					 height: 1%;
					 left: -80px;
					 top: -30px;
           }
           #simple_arc .w4 {
					 -moz-transform: rotate(-1.14rad);
					 -webkit-transform: rotate(-1.14rad);
					 -o-transform: rotate(-1.14rad);
					 -ms-transform: rotate(-1.14rad);
					 transform: rotate(-0.1rad);
                     width: 21px;
					 height: 1%;
					 left: -24px;
					 top: -48px;
           }
           #simple_arc .w5 {
					 -moz-transform: rotate(-1.14rad);
					 -webkit-transform: rotate(-1.14rad);
					 -o-transform: rotate(-1.14rad);
					 -ms-transform: rotate(-1.14rad);
					 transform: rotate(0.12rad);
                     width: 21px;
					 height: 1%;
					 left: 18px;
					 top: -47px;
           }
           #simple_arc .w6 {
					 -moz-transform: rotate(-1.14rad);
					 -webkit-transform: rotate(-1.14rad);
					 -o-transform: rotate(-1.14rad);
					 -ms-transform: rotate(-1.14rad);
					 transform: rotate(0.5rad);
                     width: 21px;
					 height: 1%;
					 left: 69px;
					 top: -32px;
           }
           #simple_arc .w7 {
					 -moz-transform: rotate(-1.14rad);
					 -webkit-transform: rotate(-1.14rad);
					 -o-transform: rotate(-1.14rad);
					 -ms-transform: rotate(-1.14rad);
					 transform: rotate(0.65rad);
                     width: 21px;
					 height: 1%;
					 left: 102px;
					 top: -10px;
           }
           #simple_arc .w8 {
					 -moz-transform: rotate(-1.14rad);
					 -webkit-transform: rotate(-1.14rad);
					 -o-transform: rotate(-1.14rad);
					 -ms-transform: rotate(-1.14rad);
					 transform: rotate(0.8rad);
                     width: 21px;
					 height: 1%;
					 left: 130px;
					 top: 16px;
           }
           #simple_arc .w9 {
					 -moz-transform: rotate(-1.14rad);
					 -webkit-transform: rotate(-1.14rad);
					 -o-transform: rotate(-1.14rad);
					 -ms-transform: rotate(-1.14rad);
					 transform: rotate(.9rad);
                     width: 21px;
					 height: 1%;
					 left: 150px;
					 top: 41px;
					 }