/*-----CSS RESET------*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*-----END of CSS RESET------*/

/* CSS HEX */
body {
  --primary: rgb(56, 80, 117);
  --dark-accent: #f5bc18;
  --light-accent: #ea7729;
  /* color-scheme: dark; */
}

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;

  /* border: 2px solid red !important; */
}

html,
body {
  text-align: center;
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  z-index: 500;
  width: 100vw;
  height: 11vh;
  min-height: 90px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.09);
  pointer-events: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 2%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 2px 4px #2f303165, 0 0 2px 3px #8b8b8b5e inset;
  box-shadow: 0px 5px 10px -3px #191f2c,
    inset 1px 1px 1px 2px rgba(255, 255, 255, 0.04);
}

header h2, h3 {
  font-weight: 500;
  text-shadow: 0.5px 0.5px 1px rgba(62, 83, 200, 0.794);
  color: rgb(255, 255, 255);
}


#qsLogoutBtn,
#qsLoginBtn
 {
  position: relative;
  right: -40%;
  z-index: 50000;
  pointer-events: auto;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 9999px;
  background-color: var(--primary);
  color: white;
  border: 0.1px solid rgb(255, 255, 255) !important;
}

@media (min-width: 250px) and  (max-width: 350px) {
  .btn-margin,
  #qsLogoutBtn {
    
  }
}

.nav-item {
  list-style: none;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  font-size: 1.8rem;
  padding: 1rem;
  color: white;
}

nav.active {
  position: absolute;
  justify-content: center;
  z-index: 200;
}

.toggle {
  position: absolute;
  top: 2.5vh;
  right: 1.8vw;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-color: var(--primary);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  z-index: 9999999999;
}

.toggle:active {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.active {
  position: absolute;
  top: 2.5vh;
  right: 1.8vw;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  z-index: 99999999999999999;
}

.mb-5 {
  
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: none;
  visibility: hidden;
  position: relative;
  right: 0;
}

.menu.active {
  visibility: visible;
  position: relative;
}

.landing-page-container {
  position: relative;
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

section {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  min-height: 32vh;
  font-size: 3rem;
  font-weight: 200;
  text-shadow: 2px 3px 4px rgb(154, 153, 153);
  height: 100vh;
  
}

.custom-shape-divider-bottom-1645215428 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1645215428 svg {
  position: relative;
  display: block;
  width: calc(145% + 1.3px);
  height: 209px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1645215428 .shape-fill {
  fill: #ECF3F9;
}

.custom-shape-divider-top-1645218211 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1645218211 svg {
  position: relative;
  display: block;
  width: calc(177% + 1.3px);
  height: 257px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1645218211 .shape-fill {
  fill: #ECF3F9;
}

.first-section {
  overflow: hidden;
  text-shadow: 2px 3px 4px rgb(153, 153, 153);
}

.user-profile {
  position: absolute;
  right: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  padding: 1.3rem 2.5rem;
  text-shadow: 2px 3px 4px var(--primary);
}

.user-profile h2 {
  color: var(--primary);
  font-size: 1.2rem;
  
}

.user-profile h3 {
  font-size: 0.9rem;
  color: var(--primary);
}

.landing-page-title {
  position: absolute;
  top: 30vh;
  left: 35vw;
  width: 45vw;
  font-weight: 400;
  font-size: clamp(1.5rem, 5vw, 4.5rem);
  line-height: clamp(1.5rem, 15vh, 6rem);
  color: var(--primary);
  text-shadow: 1px 1px 2px rgb(186, 186, 186);
}

.blue-lion  {
  position: absolute;
  display: flex;
  top: 45%;
  right: 1%;
  width: 30%;
  mix-blend-mode: darken;
  filter: drop-shadow(1px 1px 2px rgb(161, 159, 159))
}

/* .blue-lion img {
  width: 100%;
  position: absolute;
  top: 15vh;
  left: 4rem;
  border: 6px solid rgba(rgb(42, 36, 234), 0.8);
  box-shadow: 0 0 26px 16px rgba(255, 255, 255, 0.863) inset;
  border-radius: 45px;
  
}

@media (max-width: 350px) {
  .blue-lion img {
    left: 0.2rem;

  }
}

.overlay {
  position: relative;
  top: 11vh;
  height: 100vh;
  background: conic-gradient(from 130deg at 34% 38%,  #182642, white );
  
}

/* .landing-page-text h1 {
  font-weight: 300;
  font-size: 4rem;
} */

/* .blue-lion {
  position: absolute;
  top: 30%;
  left: 2%;
  width: 30%;
  
} */

.blue-lion img {
  height: 100%;
  width: 100%;
  
}

.overlay {
  position: relative;
  height: 100vh;
  /* background: conic-gradient(from 130deg at 34% 28%,white,  #182642 ); */
  z-index: -1;
  
}

.overlay2 {
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: url("../assets/white.jpg");
  mix-blend-mode: multiply;
}

#payment-form {
  margin-top: 30%;
}


.second-section, .third-section {
  color: var(--primary);
  background-image: url("/src/assets/white.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}

.second-section::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #ffffff99;
  z-index: -1;
}

.second-section h2 {
  font-size: 4rem;
  font-weight: normal;
  text-shadow: 2.5px 3px 4px rgb(110, 110, 110);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 0.1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 0.5rem 2rem;
  border-radius: 10px;
  box-shadow: 0 1px 1px 2px #eef3fe;
}

.svg-container {
  position: relative;
}

.third-section::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-attachment: fixed;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 300px;
  mix-blend-mode: saturation;
  background-color: #ecf3f9;
}

.third-section h2 {
  position: relative;
  bottom: 20%;
  font-size: 4rem;
  font-weight: normal;
  text-shadow: 2px 3px 4px rgb(110, 110, 110);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 0.1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 1.5rem 3rem;
  border-radius: 10px;
  box-shadow: 0 1px 1px 2px #eef3fe;
}

ul {
  position: relative;
  background-color: var(--dark-accent);
  backdrop-filter: blur(25px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 999999999;
  height: 100vh;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: inherit;
}

a {
  position: relative;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-weight: 200;
}

a:hover {
  color: var(--primary);
}

.product-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  overflow-x: hidden;
}

.singleCard {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 50vw;
  min-width: 300px;
  max-width: 600px;
  height: 80%;
  color: grey;
  font-size: 1.7rem;
  font-weight: 100;
  z-index: 100;
  border-radius: 30px;
  padding: 60px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  z-index: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 0.1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
}

.singleCard h2 {
  font-weight: 300;
}

.singleCard h3 {
  padding-top: 1.2rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.singleCard img {
  width: 85%;
  max-width: 350px;
  height: auto;
  border-radius: 5px;
  border: 2px solid #ffffff;
}

.singleCard button {
  position: absolute;
  bottom: 10%;
  width: 30%;
  border-radius: 9999999px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 0.2rem 1rem;
}

.singleCard button:hover {
  background-color: white;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.singleCard button:active {
  background-color: var(--primary);
  color: white;
}

.shopping-cart {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  
  background-size: 80%;
  padding: 5%;
  font-size: 1.5rem;
  height: 100vh;
  width: 100vw;
  margin-right: 2%;
  border: none;
  color: white;
}

.shopping-cart-item {
  width: 30vw;
  padding: 3%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  margin: 6%;
}

.shopping-cart-item button {
  position: relative;
  z-index: 1000;
  width: 200px;
  
  background: #394F72;
  cursor: pointer;
  overflow: hidden;
  font-size: 1rem;
  padding: 0.1%;
  border-radius: 5px;
  color: white;
  border: none;
  transition: all 0.3s;
}

.shopping-cart-item button:hover {
  background-color: red;
  transform: scale(1.05);
  color: white;
}

.shopping-cart-item button:active {
  background-color: blue;
  color: white;
}

.shopping-cart-checkout {
  position: relative;
  width: 30vw;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: -35%;
  bottom: 60%;
  color: var(--primary);
  
}

.shopping-cart-checkout p {
  position: relative;
  
  font-size: 2rem;
  
}

.shopping-cart-checkout button {
  width: 15vw;
  padding: 1% 5%;
  font-size: 1.5rem;
  border-radius: 9999999px;
  background: radial-gradient(
    circle at 40px 10px,
    var(--primary),
    rgb(70, 142, 201)
  );
  color: white;
}

.shopping-cart-checkout button:hover {
  background-color: var(--dark-accent);
  transform: scale(1.05);
}

.shopping-cart-checkout button:active {
  background-color: blue;
  color: white;
}

.shopping-cart-icon img {
  width: 2rem;
  padding: 0.8rem;
  background: radial-gradient(circle at 40px 10px, #74fd24, #1e8a52);
}

.shopping-cart-icon img:hover {
  background: radial-gradient(circle at 20px 20px, #74fd24, rgb(39, 184, 109));
}

.back-to-product-list-btn {
  position: absolute;
  bottom: 10%;
  right: 10%;
  max-width: 100px;
  background-color: var(--primary);
  color: var(--baby-powder);
  border-radius: 9999999px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 0.2rem 1rem;
}

.back-to-product-list-btn:hover {
  background-color: white;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.back-to-product-list-btn:active {
  background-color: var(--primary);
  color: white;
}

.add-to-cart-btn {
  margin-top: -1rem;
  background-color: var(--primary);
}

.single-product-details {
  position: relative;
  bottom: 0;
  left: 20%;
  width: 25%;
  min-width: 60px;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
}

.details-h2 {
  font-size: 2.3rem;
  font-weight: 400;
  color: #1A71BD;
  padding-top: 1rem;
}

.fourth-section {
  background-color: #f5bc18;
  height: 40vh;
}

.cardinal {
  position: relative;
}

.cardinal .face {
  width: 300px;
  height: 200px;
  transition: 0.4s;
}

.cardinal .face.face1 {
  position: relative;
  background: #0c3054;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.cardinal:hover .face.face1 {
  transform: translateY(0);
  box-shadow: inset 0 0 60px rgba(245, 245, 245, 0.644),
    inset 20px 0 80px var(--dark-accent), inset -20px 0 80px var(--light-accent),
    inset 20px 0 300px var(--dark-accent),
    inset -20px 0 300px var(--light-accent), 0 0 50px #fff,
    -10px 0 80px var(--dark-accent), 10px 0 80px var(--light-accent);
  color: white;
}

.cardinal .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
  text-align: center;
}

.cardinal:hover .face.face1 .content {
  opacity: 1;
}

.cardinal .face.face1 .content i {
  font-size: 3em;
  color: white;
  display: inline-block;
}

.cardinal .face.face1 .content h3 {
  font-size: 1em;
  color: white;
  text-align: center;
  font-weight: 400;
}

.cardinal .face.face1 .content a {
  transition: 0.5s;
}

.cardinal .face.face2 {
  position: relative;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.cardinal:hover .face.face2 {
  transform: translateY(0);
}

.cardinal .face.face2 .content p,
a {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  color: #333;
}

.cardinal .face.face2 .content a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  outline: 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}

.cardinal .face.face2 .content a:hover {
  background: #333;
  color: whitesmoke;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.logo-wrapper {
  position: absolute;
  left: calc(1vw - 12px);
  padding: 0.2rem;
  width: 7rem;
  display: flex;
  filter: brightness(105%) drop-shadow(2px 2px 2px var(--primary));
}

.logo {
 width: 100%; 
 
 
}

.spinner {
  position: relative;
  top: 40vh;
}

.spinner img {
  
}

.FormGroup {
  margin-top: 20%;
	width: 40vw;
	padding: 0 1.5rem;
	border-style: none;
	background-color: var(--primary);
  color: white;
	will-change: opacity, transform;
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08), inset 0 1px 0 #829fff;
	border-radius: 4px;
}

.FormRow {
	display: flex;
	align-items: center;
	padding: 1rem 3rem;
}

.StripeElement--webkit-autofill {
	background: var(--primary) !important;
}

.StripeElement {
	width: 100%;
	padding: 11px 15px 11px 0;
}

.pay-button {
	display: block;
  margin-top: 5rem;
  padding: 1rem 2rem;
	font-size: 1.5rem;
	width: calc(60% - 10px);
	box-shadow: 0 6px 9px rgba(50, 50, 93, 0.02), 0 2px 5px rgba(0, 0, 0, 0.02), inset 0 1px 0 #838383;
	border-radius: 99999px;
	color: var(--primary);
	font-weight: 800;
	cursor: pointer;
	transition: all 100ms ease-in-out;
	will-change: transform, background-color, box-shadow;
	border: none;
  background-color: var(--dark-accent);
}

.stripe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#payment-form {
  margin-top: 14vh;
  background-color: var(--primary);
  padding: 4rem;
  color: white !important;
}

.completion-container {
  display: flex;
  justify-content: center;
}

.payment-completion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
  font-size: 2rem;
  width: 25%;
  line-height: 3rem;
}

.payment-completion-home-button {
  background-color: var(--dark-accent);
  margin-top: 3rem;
  width: 30%;
  padding: 0.5rem 2rem;
  border-radius: 9999999px;
  font-size: 1.5rem;
  font-weight: 400;
}

#submit {
  background-color: var(--dark-accent);
  margin-top: 10%;
  width: 50%;
  border: none;
  padding: 0.5rem 0.1rem;
  border-radius: 9999999px;
  color: var(--primary);
  font-size: 1.2rem;
}