/*-----CSS RESET------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*-----END of CSS RESET------*/

/* CSS HEX */
body {
  --primary: #004C54;
  --dark-accent: #A4ACAF;
  --light-accent: #adc1c7;
  /* color-scheme: dark; */
  background-color: var(--light-accent);
}

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");


* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  
  /* border: 2px solid red !important; */
}

html,
body {
  text-align: center;
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  
}

header {
  position: fixed;
  top: 0;
  z-index: 90;
  overflow: hidden;
  width: 100vw;
  height: 11vh;
  min-height: 90px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background: rgba(173, 193, 199, 0.219);
  pointer-events: none;
  
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 2px 4px #2f303165, 0 0 2px 3px #8b8b8b5e inset;
  box-shadow: 0px 5px 10px -3px #191f2c,
    inset 1px 1px 1px 2px rgba(255, 255, 255, 0.04);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h2,
h3 {
  font-weight: 500;
  text-shadow: 0.5px 0.5px 1px rgba(62, 83, 200, 0.794);
  color: #004C54 !important;
}

.data {
  margin-top: 20vh;
}

#qsLogoutBtn
 {
  position: absolute;
  right: calc(8% + 2rem);
  z-index: 50000;
  pointer-events: auto;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 9999px;
  background-color: var(--primary);
  color: white;
  border: 2px solid var(--light-accent) !important;
  width: clamp(4rem, 25%, 5.3rem );
  transition: 0.6s;
}

#qsLoginBtn {
  position: absolute;
  top: 33%;
  right: calc(8% + 2rem);
  z-index: 5000;
  pointer-events: auto;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  cursor: pointer;
  border-radius: 9999px;
  background-color: var(--primary);
  color: white;
  border: 2px solid var(--light-accent) !important;
  width: clamp(4rem, 25%, 5.3rem );
  transition: 0.6s;
}

#qsLoginBtn:hover, #qsLogoutBtn:hover {
  scale: 1.1;
}

@media (max-width: 500px) {
  #qsLoginBtn, #qsLogoutBtn {
    margin: 0 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    min-width: 90px;
  }
}

.cart_link {
  position: absolute;
  z-index: 999;
  right: calc(13.5vw + 100px);
  display: flex;
  pointer-events: all;
  transition: 0.6s;
}

@media (max-width: 500px) {
  .cart_link {
    right: calc(12vw + 150px);
}
}


.cart_link img {
  width: 4rem;
  
}

span.cart-item-count {
  position: absolute;
  right: -0.6rem;
  top: -0.2rem;
  border-radius: 50%;
  background-color: var(--primary);
  padding: 0.38rem;
  font-size: 0.75rem;
  font-weight: 400;
  color: white;
  min-width: 1.6rem;
  z-index: 999999999999999999;
}

.cart_link:hover {
  scale: 1.1;
  
 }

.user-profile {
  position: absolute;
  left: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
  padding: 1.3rem 2.5rem;
  text-shadow: 2px 3px 4px white;
  
}



.user-profile h2 {
 
  font-size: clamp(1rem, 1.7vw, 1.2rem);
}

.user-profile h3 {
  font-size: clamp(1rem, 1.5vw, 1rem);
 
  word-wrap: break-word;
}

@media (max-width: 700px) {
  .user-profile {
   left: 10vw; 
   width: 42vw;
   line-height: 1rem;
   
}
 }

 @media (max-width: 500px) {
  .user-profile {
    display: none;
  }
 }

.nav-item {
  list-style: none;
}

nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  
  z-index: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 700px) {
  nav ul {
    width: 100vw;
  }
}

nav ul li a {
  font-size: 1.8rem;
  padding: 1rem 4rem;
  color: white;
  border-radius: 10px;
}

nav ul li a:hover {
  color: white;
  background-color: #acc0c680;
}

nav.active {
  position: absolute;
  justify-content: center;
  z-index: 200;
}

.toggle {
  position: absolute;
  top: 2.5vh;
  right: 2vw;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-color: var(--primary);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  border: 2px solid var(--light-accent);
  z-index: 999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
}

.toggle:active {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.active {
  position: absolute;
  top: 2.5vh;
  right: 1.8vw;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid white;
  z-index: 99999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999999;
 
}

.mb-5 {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: none;
  visibility: hidden;
  position: relative;
  right: 0;
}

.menu.active {
  visibility: visible;
  position: relative;
}

section {
  position: relative;
  
  width: 100%;
  min-height: 32vh;
  font-size: 3rem;
  font-weight: 200;
  text-shadow: 2px 3px 4px rgb(154, 153, 153);
  height: 100vh;
  display: flex;
}

.custom-shape-divider-bottom-1645215428 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg); 
}

.custom-shape-divider-bottom-1645215428 svg {
  position: relative;
  display: block;
  width: calc(155% + 1.3px);
  height: 180px;
  transform: rotateY(180deg);
   z-index: 0;
}

@media (max-width: 400px) {
  .custom-shape-divider-bottom-1645215428 svg {
    height: 100px;
    z-index: 0;
  }
}

.custom-shape-divider-bottom-1645215428 .shape-fill {
  fill: var(--primary);
  z-index: 0;
}

.custom-shape-divider-top-1645218211 {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  
}

.custom-shape-divider-top-1645218211 svg {
  position: relative;
  display: block;
  width: calc(180% + 1.3px);
  height: 227px;
  transform: rotateY(180deg);
  z-index: 0;
  overflow: hidden;
}

@media (max-width: 700px) {
  .custom-shape-divider-top-1645218211 svg {
    height: 110px;
  }
}

.custom-shape-divider-top-1645218211 .shape-fill {
  fill: var(--primary);
}

.first-section {
  position: relative;
  display: flex;
  align-items: top;
  justify-content: center;
  width: 100vw;
  z-index: 9;
  text-shadow: 2px 3px 4px var(--primary);
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, rgb(172, 192, 198) 8%, rgba(0, 76, 84, 0.24) 100%, rgba(164,172,175,0.8631827731092436) 100%);
}

@media (max-width: 700px) {
  .first-section {
 
  width: 100vw;
 
  background-repeat: no-repeat;
  background-position: center 12%;
  }
}

.first-section::after {
  content: "";
  width: 100vw;
  background-image: url(../assets/Lion-Logo-Text7.png);
  background-size:  clamp(250px, 37rem, 40vw );
  background-repeat: no-repeat;
  background-position: center 35%;
  
}

@media (max-width: 700px) {
  .first-section::after { 
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center 12%;
  }
}

.landing-page-container {
  position: relative;
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  
}

.title-container {
  height: 100%;
  position: absolute;
  top: -10vh;
  left: 0;
  display: flex;
  align-items: center;
  
}

@media (max-width: 700px) {
  .title-container {
  width: 100%;
   top: -16vh;
   
  }
}

.title {
  position: absolute;
  top: 32%;
  left: 2rem;
  width: 100%;
  font-size: clamp(3rem, 8vw, 3.5rem);
  font-weight: 300;
  
  text-shadow: none;
  visibility: hidden;
  z-index: 10;
  color: whitesmoke;
  text-shadow: 2px 2px 3px var(--primary);
}

.title .row1 {
  
  
  color: var(--primary);
  font-size: clamp(3rem, 12vw, 6rem);
  text-shadow: 1px 1px 1.5px whitesmoke;
  
}



@media (max-width: 700px) {
  .title {
    top: 35%;
    left: 0;
    font-size: 1.8rem;
  }
}

.featured-items1 {
  position: absolute;
  z-index: 99999999999999999999999999999999;
  top: 20vh;
  right: 0;
  left: 2vw;
  width: 33vw;
  height: 60vh;
  border-radius: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px); 
  transition: 0.2s ease-in-out;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33% 33% 33%; 
  padding: 0.5rem 1rem;
  text-shadow: none;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.featured-items2 {
  position: absolute;
  z-index: 99999999999999999999999999999999;
  top: 20vh;
  right: 0;
  left: 2vw;
  width: 33vw;
  height: 60vh;
  border-radius: 20px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px); 
  transition: 0.2s ease-in-out;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 33% 33% 33%; 
  padding: 0.5rem 1rem;
  text-shadow: none;
  overflow: hidden;
}

@media (max-width: 700px) {
  .featured-items1 {
    z-index: 99999999999999999999999999999999;
    height: 38vh;
    width: 100vw;
    left: 0;
    top: 33vh;
    border-radius: 0;
    background-color: var(--light-accent);
  }
}

.featured-items1 > *, .featured-items2 > * {
  border: 1px solid blue;
  font-size: clamp(0.01rem, 0.9rem, 2.5rem);
  padding: 0.5rem;
  background-repeat: no-repeat;
  font-weight: 400;
  
}


.featured-items1 img {
  left: -1rem;
  height: 20rem;
  margin-top: -9rem;
  border: none;
}

.featured-items2 {
  left: 64vw;
  
}

@media (max-width: 700px) {
  .featured-items2 {
  left: 0;
  top: 75vh;
  height: 38vh;
  width: 100vw;
  border-radius: 0;
  background-color: var(--light-accent);
}
}

.featured-items1 p {
  margin-left: 9rem;
  padding: 1rem;
  text-align: left;
  border-left: 1px solid var(--primary);
}

.front-item {
  position: absolute;
  top: 50%;
  left: 25%;
  z-index: 99999999999999999999999999999999999;
  height: 100vh;
  width: 100%;
  
}

.back-item {
  position: absolute;
  border: none;
  left: -5%;
  top: 10%;
  width: 100%;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 5px;
 
}

.browse-all-button {

  width: 15vw;
  min-width: 220px;
  padding: 0.5rem;
  font-size: 2.2rem;
  font-weight: 350;
  border-radius: 5px;
  background: radial-gradient(
    circle at 40px 10px,
    var(--light-accent),
    var(--primary)
  );
  transition: all 0.4s linear;
  color: white;
  cursor: pointer;
  
}

.browse-all-button-container {
 position: absolute;
  top: 72vh;
 
}

@media (max-width: 700px) {
  .browse-all-button-container {
    top: 116vh;
  }
}

.browse-all-button-container button a:hover {
  transform: scale(1.1);
  color: var(--primary);
}

.category-title-container {
  position: relative;
  width: 100vw;
  margin-top: 50vh;
  color: var(--primary);
  line-height: 2rem;
  text-shadow: 2px 3px 4px rgb(154 153 153);
}

@media (max-width: 700px) {
  .category-title-container {
  width: 100vw;
  margin-top: 7vh;
}
}

.or {
  margin-top: -50px;
  
}

.category-title-container h5 {
  font-size: clamp(1rem, 2.6rem, 4rem);
  position: absolute;
  width: 100vw;
  top: 1.5rem;
  font-weight: 300;
  color: var(--primary);
 
}

.product-categories {
  position: relative;
  top: 18vh;
  width: 90vw;
  height: 60vh;
  border-radius: 5px;
  backdrop-filter: blur(10px); 
  transition: 0.2s ease-in-out;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 16% 16% 16% 17% 17% 17%;
  grid-template-rows: auto;
  border-left: none;
  background-color: rgba(255,255,255,0.2);
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  backdrop-filter: blur(50px);
}

@media (max-width: 700px) {
  .product-categories {
    width: 90vw;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    top: 20vh;
    
  }
}


.category {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--primary);
  height: 100%;
  word-break: break-all;
  min-width: 2rem;
  transition: 0.9s;
  
}

.category h4 {
  position: relative;
  top: 15%;
  font-size: clamp(0.5rem, 1.6rem, 3rem);
  font-weight: 400;
}

@media (max-width: 700px) {
  .category h4{
    top: 3.5rem;
    
  }
}
@media (max-width: 700px) {
  .category {
    border: 1px solid var(--primary);
    
  }
}


.category:nth-child(1) {
  background-image: url(../assets/cpu-g.png);
  background-size: clamp(2.5rem, 4rem, 5.5rem);
  background-repeat: no-repeat;
  background-position: 50% 50% ;
  border-left: none;
  
}

.category:nth-child(2) {
  background-image: url(../assets/gpu-g.png);
  background-size: clamp(2.5rem, 4rem, 5.5rem);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  
}
.category:nth-child(3) {
  background-image: url(../assets/cases-g.png);
  background-size: clamp(2.5rem, 4rem, 5.5rem);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.category:nth-child(4) {
  padding: 1rem 0.5rem;
  
  background-image: url(../assets/motherboard-g.png);
  background-size: clamp(2.5rem, 4rem, 4.5rem);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
@media (max-width: 700px) {
  .category:nth-child(4) {
    padding-bottom: 2rem;
  }
}
@media (max-width: 700px) {
  .category:nth-child(1) {
    border-left: 1px solid var(--primary);
  }
}


.category:nth-child(5) {
  padding: 0 0.8rem;
  background-image: url(../assets/cases-g.png);
  background-size: clamp(2.5rem, 4rem, 5.5rem);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.category:nth-child(6) {
  padding: 0 0.8rem;
  background-image: url(../assets/monitor-g.png);
  background-size: clamp(2.5rem, 4rem, 5.5rem);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}


  .category:hover {
    background-position: 50% 40%;
    background-size: 6rem;
} 

.category-link {
  height: 100%;
}

.carousel {
  position: relative;
  z-index: 999999999999999999999999;
  height: 20vh;
  
}

.carousel-items {
  width: 10vw;
  z-index: 999999999999999;
}

.sc-bczRLJ {
  background-color: var(--primary) !important;
  color: var(--primary);
}

.sc-gKXOVf {
  background-color: var(--primary) !important;
}

#payment-form {
  margin-top: 30%;
}

 .second-section,.third-section {
  color: var(--primary);
   position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../assets/newbg.png");
  background-color: var(--light-accent);
  background-blend-mode: color-burn;
  background-attachment: fixed;
  
}
.second-section h2 {
  font-size: 4rem;
  font-weight: normal;
  text-shadow: 2.5px 3px 4px rgb(110, 110, 110);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 0.1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 0.5rem 2rem;
  border-radius: 10px;
  box-shadow: 0 1px 1px 2px #eef3fe;
}

.svg-container {
  position: relative;
}

.third-section h2 {
  position: relative;
  bottom: 20%;
  font-size: 4rem;
  font-weight: normal;
  text-shadow: 2px 3px 4px rgb(110, 110, 110);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-left: 0.1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  padding: 1.5rem 3rem;
  border-radius: 10px;
  box-shadow: 0 1px 1px 2px #eef3fe;
}

ul {
  position: relative;
  background-color: var(--primary);
  backdrop-filter: blur(25px);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  z-index: 99999999999999999999999999999999999999;
  height: 100vh;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: inherit;
  
}

a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 200;
  width: 100%;
  transition: all 0.2s;
}



.single-product-container {
  position: relative;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  
  justify-content: space-around;
  align-items: center;
  
  color: white;
  
}

@media (max-width: 700px) {
  .single-product-container {
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    
}
}


.single-product-container::before {
  content: "";
  background-image: url("/src/assets/newbg.png");
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.55;
  background-repeat:   no-repeat;
  background-attachment: fixed;
  background-color: var(--light-accent);
  background-blend-mode: color-burn;
}

.singleCard {
  position: absolute;
  top: 18vh;
  left: 8vw;
  width: 35vw;
  min-width: 300px;
  max-width: 500px;
  height: 70%;
  color: var(--primary);
  font-size: 2rem;
  font-weight: 100;
  border-radius: 30px;
  padding: 60px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 0.1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
}

@media (max-width: 700px) {
  .singleCard {
   
   
    width: 60vw;
    height: 70vh;
  }
}

.singleCard h2 {
  font-weight: 300;
}

.singleCard h3 {
  padding-top: 1.2rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--primary);
}

.singleCard img {
  width: 85%;
  max-width: 350px;
  height: auto;
  border-radius: 5px;
  border: 2px solid #ffffff;
  border-color: var(--primary);
  display: none;
}

.singleCard button {
  position: absolute;
  bottom: 10%;
  width: 50%;
  border-radius: 9999999px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--primary);
  color: white;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 0.2rem 1rem;
  transition: 0.6s;
}

.singleCard button:hover {
  
  
  scale: 1.1;
  cursor: pointer;
}

.singleCard button:active {
  background-color: transparent;
}

.single-product-details {
  position: absolute;
  right: calc(25vw - 5%);
  width: 40%;
  padding: 1rem 2rem;
  min-width: 60px;
  max-width: 500px;
  height: 45vh;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
}

@media (max-width: 700px) {
  .single-product-details {
    top: 100vh;
    width: 80vw;
    right: 8%;
    
  }
  
}

.details-h2 {
  font-size: 2.3rem;
  font-weight: 400;
  color: var(--primary);
  padding-top: 1rem;
}

.result-block-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.shopping-cart {
  padding: 2rem;
  position: absolute;
  z-index: 100;
  width: clamp(320px, 25%, 30vw);
  margin-top: 11vh;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 2px 4px #2f303165, 0 0 2px 3px #8b8b8b5e inset;
  box-shadow: 0px 5px 10px -3px #191f2c,
    inset 1px 1px 1px 2px rgba(255, 255, 255, 0.04);
}
.scroll-cart {
  position: relative;
  width: 100%;
  overflow-y: auto;
  margin-bottom: 2rem;
  scrollbar-color: var(--primary) var(--dark-accent);
}

/* .scroll-cart::-webkit-scrollbar {
  display: none;
} */

/* .shopping-cart::after {
  content: "";
  position: absolute;
  top: 15vh;
  display: block;
  height: 80vh;
  width: 20%;
  background-color: #004c5417;
  border-radius: 10px;
  pointer-events: none;
} */

.shopping-cart-item {
  
  padding: 1.5rem;
  margin: 1.8rem 1rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.479);
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 2px 2px 2px 4px #2f303165, 0 0 2px 3px #8b8b8b5e inset;
  box-shadow: 0px 5px 10px -3px #191f2c,
    inset 1px 1px 1px 2px rgba(255, 255, 255, 0.04);
  
}

.shopping-cart-item button {
  position: relative;
  
  width: 50%;

  background: var(--primary);
  cursor: pointer;
  overflow: hidden;
  font-size: 1rem;
  padding: 0.1%;
  border-radius: 5px;
  color: white;
  border: none;
  transition: all 0.6s;
}

.shopping-cart-item button:hover {
  background-color: white;
  color: var(--primary);
}

.shopping-cart-item button:active {
  background-color: var(--light-accent);
  color: white;
}

.shopping-cart-checkout {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary);
  
}

.shopping-cart-checkout p {
  position: relative;
  font-size: clamp(1rem, 1.4rem, 3rem);
  height: 4vh;
  
}

.shopping-cart-checkout p:first-child {
  
}

.shopping-cart-checkout button {
  margin: 1rem;
  width: 15vw;
  min-width: 200px;
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 9999999px;
  background: radial-gradient(
    circle at 40px 10px,
    var(--light-accent),
    var(--primary)
  );
  transition: all 0.4s linear;
  color: white;
  cursor: pointer;
  border: var(--light-accent);
}

.shopping-cart-checkout button:hover {
  
  transform: scale(1);
  background-color: white;
  color: var(--primary);
}

.shopping-cart-checkout button:active {
  background-color: var(--primary);
  color: white;
}

.shopping-cart-icon img {
  width: 2rem;
  padding: 0.8rem;
  background: radial-gradient(circle at 40px 10px, var(--light-accent), var(--primary));
}

.shopping-cart-icon img:hover {
  background: radial-gradient(circle at 20px 20px, #74fd24, rgb(39, 184, 109));
}

.back-to-product-list-btn {
  position: absolute;
  bottom: 10%;
  right: 10%;
  max-width: 150px;
  background-color: var(--primary);
  color: var(--baby-powder);
  border-radius: 9999999px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 0.2rem 1rem;
  transition: 0.6s;
}

@media (max-width: 700px) {
  .back-to-product-list-btn {
    bottom: 2%;
  }
}

.back-to-product-list-btn:hover {
 scale: 1.1;
}

.back-to-product-list-btn:active {
  background-color: var(--light-accent);
  color: white;
}

.add-to-cart-btn {
  margin-top: -1rem;
  background-color: var(--primary);
}

/* .cards {
  width: 100%;
  
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 400px) 2000px);
  gap: 10px;
}

.card-img {
  width: 4rem;
  
}

.card {
  height: 50vh;
  
} */
.cards {
  /* transform: rotate(90deg); */
}

.svg {
  position: absolute;
  bottom: 10%;
  left: 15%;
  width: 1200px;
  opacity: 0.05;
  pointer-events: none;
  
}

.fourth-section {
  background-color: var(--light-accent);
  background: radial-gradient(circle, rgb(172, 192, 198) 8%, rgba(0, 76, 84, 0.24) 100%, rgba(164,172,175,0.8631827731092436) 100%);
  height: 42vh;
}

.cardinal {
  position: relative;
}

.cardinal .face {
  width: 300px;
  height: 200px;
  transition: 0.4s;
}

.cardinal .face.face1 {
  position: relative;
  background: #0c3054;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.cardinal:hover .face.face1 {
  transform: translateY(0);
  box-shadow: inset 0 0 60px rgba(245, 245, 245, 0.644),
    inset 20px 0 80px var(--dark-accent), inset -20px 0 80px var(--light-accent),
    inset 20px 0 300px var(--dark-accent),
    inset -20px 0 300px var(--light-accent), 0 0 50px #fff,
    -10px 0 80px var(--dark-accent), 10px 0 80px var(--light-accent);
  color: white;
}

.cardinal .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
  text-align: center;
}

.cardinal:hover .face.face1 .content {
  opacity: 1;
}

.cardinal .face.face1 .content i {
  font-size: 3em;
  color: white;
  display: inline-block;
}

.cardinal .face.face1 .content h3 {
  font-size: 1em;
  color: white;
  text-align: center;
  font-weight: 400;
}

.cardinal .face.face1 .content a {
  transition: 0.5s;
}

.cardinal .face.face2 {
  position: relative;
  background: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.cardinal:hover .face.face2 {
  transform: translateY(0);
}

.cardinal .face.face2 .content p,
a {
  font-size: 10pt;
  margin: 0;
  padding: 0;
  color: #333;
}

.cardinal .face.face2 .content a {
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  outline: 1px dashed #333;
  padding: 10px;
  margin: 15px 0 0;
  display: inline-block;
}

.cardinal .face.face2 .content a:hover {
  background: #333;
  color: whitesmoke;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.logo-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.logo-wrapper img {
  position: absolute;
  width: clamp(7.7rem, 15%, 8.9rem );
  left: -0.6rem;
  
}



/* @media (max-width: 500px) {
  .logo-container {
    min-width: 300px;
    top: 14vh;
}
} */
.spinner {
  position: relative;
  top: 40vh;
}

.FormGroup {
  position: absolute;
 
  
  width: 40vw;
  padding: 0 1.5rem;
  border-style: none;
  background-color: var(--primary);
  color: var(--primary);
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}

.FormRow {
  display: flex;
  align-items: center;
  padding: 1rem 3rem;
}

.StripeElement--webkit-autofill {
  background: var(--primary) !important;
  color: black !important;
}

.StripeElement {
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
}

.stripe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#payment-form {
  width: 100%;
  margin: 0;
  background-color: var(--primary);
  padding: 4rem 0.2rem;
  color: var(--primary) !important;
  border-radius: 5px;
}

#submit {
  width: 50%;
  min-width: 150px;
  border: none;
  line-height: 2.5rem;
  margin-top: 0.5rem;
  background-color: var(--dark-accent);
  width: 50%;
  border-radius: 9999999px;
  color: var(--primary);
  font-size: 1.4rem;
}

#submit:hover {
  
  color: white;
 
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  /* border: inset 1px solid rgba(255, 255, 255, 0.2); */
  box-shadow: 2px 2px 2px 4px #2f303165, 0 0 2px 3px #8b8b8b5e inset;
  box-shadow: 0px 5px 10px -3px #191f2c,
    inset 1px 1px 1px 2px rgba(255, 255, 255, 0.04);
}

.completion-container {
  display: flex;
  justify-content: center;
}

.payment-completion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30vh;
  font-size: 2rem;
  width: 30rem;
  line-height: 3rem;
}

.payment-completion-home-button {
  background-color: var(--dark-accent);
  margin-top: 3rem;
  width: 10rem;
  padding: 0 3rem;
  border-radius: 9999999px;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
 
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.4px);
  border: inset 1px solid rgba(255, 255, 255, 0.2); 
  box-shadow: 2px 2px 2px 4px #2f303165, 0 0 2px 3px #8b8b8b5e inset;
  box-shadow: 0px 5px 10px -3px #191f2c,
    inset 1px 1px 1px 2px rgba(255, 255, 255, 0.04);
}


  .payment-completion a:hover {
    background-color: var(--primary);
  }


button.close-icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0.35rem;
  right: 0.35rem;
  font-size: 2rem;
  font-weight: 150;
  background-color: var(--dark-accent);
  color: white;
  max-width: 1.4rem;
  max-height: 1.4rem;
  transition: none;
  padding: 0.6rem;
  border-radius: none;
}

button.close-icon:hover {
  background-color: rgb(221, 43, 43);
  color: white;
  
  font-weight: 300;
}

.cardi-container {
  position: relative;
  width: 100vw;
  padding: 2rem;
  height: 60vh;
  margin: 0px;
  overflow: hidden;
  top: -82vh;
  /* background-color: hsla(194, 19%, 73%, 0.888); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.cardi-container h5 {
  position: absolute;
  width: 40vw;
  top: 3rem;
  font-weight: 300;
  color: var(--primary);
  
}

#cards {
  display: flex;
  justify-content: center;
  gap: 6rem;
  width: calc(100% - 20px);
}

@media (max-width: 780px) {
  #cards {
    flex-wrap: wrap;
    height: 100%;
    gap: 1rem;
    
  }
}

.cardi {
  background-color: rgba(255,255,255,0.02);
  position: relative;
  height: 18rem;
  width: 30rem;
  min-width: 200px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  backdrop-filter: blur(50px);
}

.cardi p {
  font-size: 1.3rem;
  position: absolute;
  top: 60%;
  
}

/* .cardi:nth-child(1) {
  background-image: url(../assets/social-card-pic1.jpg);
  background-size: 30%;
  background-repeat: no-repeat;
  
}
.cardi:nth-child(2) {
  background-image: url(../assets/social-card-pic2.jpg);
  background-size: 30%;
  background-repeat: no-repeat;
}
.cardi:nth-child(3) {
  background-image: url(../assets/social-card-pic3.jpg);
  background-size: 25%;
  background-repeat: no-repeat;
} */

.cardi::before {
  background: radial-gradient(600px circle at var(--mouse-x) var(--mouse-y), rgba(255,255,255,0.5), transparent 40%);
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  position: absolute;
  
  width: 100%;
  z-index: 1000;
 
}

.cardi img {
  width: 25%;
  margin-left: -60%;
  bottom: 10%;
  margin-top: 1rem;
  border-radius: 10px;
}