/* CSS HEX */
:root {
--light-pink: #ffadadff;
--deep-champagne: #ffd6a5ff;
--lemon-yellow-crayola: rgb(252, 255, 172);
--tea-green: #caffbfff;
--celeste: #9bf6ffff;
--baby-blue-eyes: #a0c4ffff;
--maximum-blue-purple: #bdb2ffff;
--mauve: #ffc6ffff;
--baby-powder: #fffffcff;
--new-blue: rgb(1, 86, 155);

/* CSS HSL */
--light-pink: hsla(0, 100%, 84%, 1);
--deep-champagne: hsla(33, 100%, 82%, 1);
--lemon-yellow-crayola: hsla(62, 100%, 86%, 1);
--tea-green: hsla(110, 100%, 87%, 1);
--celeste: hsla(185, 100%, 80%, 1);
--baby-blue-eyes: hsla(217, 100%, 81%, 1);
--maximum-blue-purple: hsla(249, 100%, 85%, 1);
--mauve: hsla(300, 100%, 89%, 1);
--baby-powder: hsla(60, 100%, 99%, 1);
--gradient-top: linear-gradient(0deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);

--gradient-right: linear-gradient(90deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);

--gradient-bottom: linear-gradient(180deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);

--gradient-left: linear-gradient(270deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);

--gradient-top-right: linear-gradient(45deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);

--gradient-bottom-right: linear-gradient(135deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);

--gradient-top-left: linear-gradient(225deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);

--gradient-bottom-left: linear-gradient(315deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);

--gradient-radial: radial-gradient(#ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff)
}

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

html, body {
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  scroll-behavior: smooth;
}

/* * {
  border: 1px solid #f00 !important;
} */

 
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  
}

body {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
 font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 10vh;
  min-height: 85px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background: rgb(1, 86, 155, 0.3);
  pointer-events: none;
  display: flex;
  align-items: center;
  padding: 2%;
  border-radius: 9px;
  backdrop-filter: blur(5px);
}


header h2 {
  color: rgb(255, 255, 255);
}

nav
{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  position: absolute;
  top: 2%;
  right: 20%;
  width: 5vw;
  background-color: var(--maximum-blue-purple);
  color: var(--baby-powder);
  border-radius: 5px;
  padding: 5px;
}

nav ul {
  list-style-type: none;
}

nav ul li a {
  font-size: 1.8rem;
  padding: 1rem;
  
}

nav.active {
  position: absolute;
  justify-content: center;
  z-index: 200;
}

nav .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.toggle
{
  position: absolute;
  top: 15px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  border: 1px solid rgb(192, 175, 175);
}


.toggle:active {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.active
{
  position: absolute;
  top: 15px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  z-index: 20000;
  background-color: transparent;
  border: 1px solid white;
}

.nav-login {
  position: absolute;
  top: 5%;
  left: 10%;
  z-index: -1;
}

.btn-margin {
  position: absolute;
  top: 30%;
  z-index: 500;
  pointer-events: auto;
  padding: 0.3rem 0.6rem;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 9px;
  background-color: var(--new-blue);
  color: white;
  border: 0.2px solid rgb(192, 175, 175) !important;
}

.nav-item {
  list-style: none;
}

/* #nav-icon3 {
  width: 60px;
  height: 45px;
  position: relative;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 9999999999;
}
 
#nav-icon3 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: var(--maximum-blue-purple);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 36px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
} */

.showcase
{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.showcase.active
{
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  z-index: 1;
}
 
.showcase video
{
  position: absolute;
  top: 0;  
  width: 100%;
  height: 100vh;
  object-fit: cover;
 
}
.overlay
{
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: var(--new-blue);
  mix-blend-mode: color;
}



.menu {
  display: none;
  visibility: hidden;
  position: relative;
  right: 0;
  
}

.menu.active {
  visibility: visible;
  position: relative;
  
}

section {
  position: relative;
  overflow-x: hidden;
  
}

ul {
  position: relative;
  background-color: var(--new-blue);
  z-index: 0;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

a {
  position: relative;
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  font-weight: 200;
}

a:hover {
  color: black;
  
}

.product-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white; 
}

.circle4, .circle5, .circle6 {
  position: absolute;
  background-color: var(--new-blue);
  border-radius: 50%;
}

.circle4 {
  bottom: 10%;
  right: 15%;
  height: 20rem;
  width: 20rem;
 
}

.circle5 {
  top: 5%;
  left: 45%;
  height: 15rem;
  width: 15rem;
}

.circle6 {
  bottom: 3%;
  left: -8%;
  height: 25rem;
  width: 25rem;
  
}

.singleCard {
  position: absolute;
  top: 15%;
  left: 10%;
  width: 50vw;
  min-width: 300px;
  max-width: 600px;
  height: 80%;
  color: grey;
  font-size: 1.7rem;
  font-weight: 100;
  z-index: 100;
  border-radius: 30px;
  padding: 60px; 
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  z-index: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 0.1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
}

.singleCard h2 {
  font-weight: 300;
}

.singleCard h3 {
  padding-top: 1.2rem;
  font-weight: 500;
  font-size: 1.5rem;
}

.singleCard img {
  width: 85%;
  max-width: 350px;
  height: auto;
  border-radius: 5px;
  border: 2px solid #ffffff;
}

.singleCard button {
  position: absolute;
  bottom: 10%;
  width: 30%;
  border-radius: 9999999px;
  padding: 5px;
  cursor: pointer;
  background-color: var(--new-blue);
  color: white;
 font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 0.2rem 1rem;
}

.singleCard button:hover {
background-color: white;
color: var(--new-blue);
border: 2px solid var(--new-blue);
}

.singleCard button:active {
  background-color: var(--new-blue);
  color: white;
}

.shopping-cart {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: white;
  padding-top: 4%;
  font-size: 1.5rem;
  min-height: 100vh;
}

.shopping-cart-item   {
  width: 35vw;
  padding: 3%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  margin: 2%;
}


.shopping-cart-item button {
  position: relative;
  z-index: 1000;
  width: 200px;
  line-height: 1.8rem;
  background: var(--new-blue);
  cursor: pointer;
  overflow: hidden;
  font-size: 1rem;
  padding: 0.1%;
  border-radius: 5px;
  color: white;
  border:none;
  transition: all 0.3s;
}

.shopping-cart-item button:hover {
  background-color: red;
  transform: scale(1.05);
  color: yellow;
}

.shopping-cart-item button:active {
  background-color: blue;
  color: white;
}



.shopping-cart-checkout {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: -35%;
  
}

.shopping-cart-checkout p {
  font-size: 2rem;
}

.shopping-cart-checkout button {
  width: 15%;
  padding: 0.3%;
  font-size: 1.5rem;
  border-radius: 9999999px;
   background: radial-gradient(circle at 40px 10px,var(--new-blue), rgb(70, 142, 201));
   color: white;
}

.shopping-cart-checkout button:hover {
  background-color: #74fd24;
  transform: scale(1.05);
}

.shopping-cart-checkout button:active {
background-color: blue;
  color: white;
}

.shopping-cart-icon img {
  width: 2rem;
  padding: 0.8rem;
  background: radial-gradient(circle at 40px 10px,#74fd24, #1e8a52);
  
}

.shopping-cart-icon img:hover {
  background: radial-gradient(circle at 20px 20px, #74fd24, rgb(39, 184, 109));
}

 .back-to-product-list-btn {
  position: absolute;
  bottom: 10%;
  right: 10%;
  max-width: 100px;
  background-color: var(--new-blue);
  color: var(--baby-powder);
  border-radius: 9999999px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  text-align: center;
  padding: 0.2rem 1rem;
}

.back-to-product-list-btn:hover {
  
background-color: white;
color: var(--new-blue);
border: 2px solid var(--new-blue);
}

.back-to-product-list-btn:active {
  background-color: var(--new-blue);
  color: white;
}

.add-to-cart-btn {
  margin-top: -1rem;
  background-color: var(--new-blue);
}

.single-product-details {
  position: relative;
  bottom: 0;
  left: 20%;
  width: 25%;
  min-width: 60px;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(15px);
}

.details-h2 {
  font-size: 2.3rem;
  font-weight: 400;
  color: grey;
  padding-top: 1rem;
}

.admin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color:hsla(217, 100%, 81%, 1);
  font-size: 4rem;
}