:root {
 --primary: #004C54;
  --dark-accent: #A4ACAF;
  --light-accent: #acc0c6;
}

 


@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');


* {
  box-sizing: border-box;
  /* border: 1px solid red !important; */
}

.product-container {
  width: 100vw;
  height: 100%;
  margin: 0;
  padding: 10rem;
  min-height: 100vh;
  
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  color: white;
  background-image: url("/src/assets/newbg.png");
  background-position: center;
  background-size: cover;
  background-repeat:   no-repeat;
  background-attachment: fixed;
  background-color: var(--light-accent);
  background-blend-mode: color-burn;
  
}

.card {
  width: 65vw;
  min-width: 280px;
  max-width: 400px;
  border-radius: 30px;
 
  padding: 6rem; 
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 0.1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  transition: 0.2s ease-in-out;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
  
}

.card:hover {
background: rgba(255, 255, 255, 0.1);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.4px);
-webkit-backdrop-filter: blur(2.2px);
border: 1px solid rgba(255, 255, 255, 0.3);

transform: translateY(-8px);
    
}

.items {
 
  height: 280px;
  display: flex;
  min-width: 260px;
  
}
.items img {
  border-radius: 10px;
  z-index: 200;
  
}

.product-name {
  margin-top: 50px;
  
  
  
}
.product-name h2 {
  width: 100%;
  padding:  0.5rem 1rem;
  background: var(--primary);
  color: white;
  cursor: pointer;
  border-radius: 999999px;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

.product-name h3 {
  font-size: 1.7rem;
  font-weight: 500;
  color: darkblue;
  margin-top: 10%;
  text-shadow:2px 3px 4px rgba(88, 88, 88, 0.609);
}

.product-list-image {
  margin: 0 auto;
  width: 250px;
  height: 280px;
  border: 1px solid var(--primary);
  object-fit: cover;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
}

.product-details {
  opacity: 0;
  transition: all 0.45s ease-out;
}

.product-details p {
  padding-top: 30px;
  font-size: 1.5rem;
  font-weight: 400;
}

.card:hover .product-details {
  opacity: 1;
}

