/* CSS HEX */
:root {
--light-pink: #ffadadff;
--deep-champagne: #ffd6a5ff;
--lemon-yellow-crayola: #fdffb6ff;
--tea-green: #caffbfff;
--celeste: #9bf6ffff;
--baby-blue-eyes: #a0c4ffff;
--maximum-blue-purple: #bdb2ffff;
--mauve: #ffc6ffff;
--baby-powder: #fffffcff;

/* CSS HSL */
--light-pink: hsla(0, 100%, 84%, 1);
--deep-champagne: hsla(33, 100%, 82%, 1);
--lemon-yellow-crayola: hsla(62, 100%, 86%, 1);
--tea-green: hsla(110, 100%, 87%, 1);
--celeste: hsla(185, 100%, 80%, 1);
--baby-blue-eyes: hsla(217, 100%, 81%, 1);
--maximum-blue-purple: hsla(249, 100%, 85%, 1);
--mauve: hsla(300, 100%, 89%, 1);
--baby-powder: hsla(60, 100%, 99%, 1);
--gradient-top: linear-gradient(0deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);

--gradient-right: linear-gradient(90deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);

--gradient-bottom: linear-gradient(180deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);

--gradient-left: linear-gradient(270deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);

--gradient-top-right: linear-gradient(45deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);

--gradient-bottom-right: linear-gradient(135deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);

--gradient-top-left: linear-gradient(225deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);

--gradient-bottom-left: linear-gradient(315deg, #ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff, #9bf6ffff, #a0c4ffff, #bdb2ffff, #ffc6ffff, #fffffcff);

--gradient-radial: radial-gradient(#ffadadff, #ffd6a5ff, #fdffb6ff, #caffbfff)
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

html, body {
  min-height: 100vh;
  
  font-family: 'Exo 2', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  scroll-behavior: smooth;
}

/* * {
  border: 1px solid #f00 !important;
} */

 
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

body {
  
  box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
 
}

nav
{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
nav ul {
  list-style-type: none;
}

nav ul li a {
  font-size: 1.7rem;
  padding: 1rem;
  color: black;
}

nav.active {
  position: absolute;
  justify-content: center;
  z-index: 200;
}

nav .logo
{
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
}

.toggle
{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/HrfVRcx/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  border: 1px solid blue;
}


.toggle:active {
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
}

.active
{
  position: absolute;
  top: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  background: url(https://i.ibb.co/rt3HybH/close.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
  z-index: 20000;
  background-color: transparent
}

.showcase
{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.showcase.active
{
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  z-index: 1;
}
 
.showcase video
{
  position: absolute;
  top: 0;  
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 0.75;
}
.overlay
{
  position: absolute;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: var(--baby-blue-eyes);
  mix-blend-mode: overlay;
}

.menu {
  display: none;
  visibility: hidden;
  position: relative;
  right: 0;
}

.menu.active {
  visibility: visible;
  position: relative;
  
  
}

section {
  position: absolute;
  overflow-x: hidden;
  
}

ul {
  position: relative;
  background-color: var(--baby-blue-eyes);
  z-index: 0;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

a {
  position: relative;
  display: flex;
  justify-content: center;
  
}

a:hover {
  color: rgb(0, 111, 202);
}

.product-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4a4a92; 
  background: linear-gradient(to right, rgb(164, 147, 255), #caffbfff);
}

.singleCard {
  width: 600px;
  height: 800px;
  perspective: 1000px;
  z-index: 100;
  border-radius: 30px;
  padding: 60px; 
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 0.1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(5px);
}

.singleCard img {
  width: 70%;
  height: auto;
  border-radius: 5px;
  border: 2px solid #258825;
}

.singleCard button {
  width: 40%;
  border-radius: 5px;
  cursor: pointer;
}

.singleCard button:hover {
transform: scale(1.08);
}

.singleCard button:active {
  background-color: blue;
  color: white;
}

.testCircle{
   width: 10px; 
   height: 10px;
   border-radius: 100px;
   background-color:#ffffff50;
   margin: 0 auto;
   box-shadow: 1px 1px 5px 0px rgba(53, 80, 66, 0.75);
   padding: 15%;
}

.shopping-cart {
  width: 80%;
  margin: 0 auto;
}
.shopping-cart-item button {
  width: 40%;
  background-color: rgb(91, 238, 91);
  cursor: pointer;
  overflow: hidden;
}

.shopping-cart-item button:hover {
  background-color: yellow;
  transform: scale(1.05);
}

.shopping-cart-item button:active {
  background-color: blue;
  color: white;
}

.shopping-cart-item  img {
  width: 45%;
  height: auto;
  background-color: yellow;
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
}
.shopping-cart-item {
  box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
  width:40%;
  margin: 0 auto;
}

.shopping-cart-checkout p {
  font-size: 2rem;
}

.shopping-cart-checkout button:hover {
  background-color: #74fd24;
  transform: scale(1.05);
}

.shopping-cart-checkout button:active {
background-color: blue;
  color: white;
}

.shopping-cart-icon img {
  width: 2rem;
  padding: 0.8rem;
  background: radial-gradient(circle at 40px 10px,#74fd24, #1e8a52);
  
}

.shopping-cart-icon img:hover {
  background: radial-gradient(circle at 20px 20px, #74fd24, rgb(39, 184, 109));
}
